version: 2.1

jobs:
  test-interpreter:
    docker:
      - image: ruby:3.1.2-slim-bullseye
    steps:
      - checkout
      - run:
          name: "Install system dependencies"
          command: |
            apt-get update && sudo apt-get install -y
            apt-get install make curl git -y
      - run:
          name: "Install application dependencies"
          command: |
            cd interpreter
            make ci-install-deps
            make lint
            make test

workflows:
  test:
    jobs:
      - test-interpreter
