version: 2.1
orbs:
  coveralls: coveralls/coveralls@1.0.6

jobs:
  test-interpreter:
    docker:
      - image: ruby:3.1.2-alpine3.16
    steps:
      - checkout
      - run:
          name: "Install system dependencies"
          command: apk add --update --no-cache --force-overwrite git curl make build-base clang
      - run:
          name: "Install application dependencies"
          working_directory: ~/project/interpreter
          command: make ci-install-deps
      - run:
         name: "Run linters"
         working_directory: ~/project/interpreter
         command: make lint
      - run:
         name: "Run tests"
         working_directory: ~/project/interpreter
         command: make test
      - coveralls/upload
workflows:
  test:
    jobs:
      - test-interpreter
