version: 2.1

jobs:
  test-interpreter:
    docker:
      - image: ruby:3.1.2-alpine3.16
    steps:
      - checkout
      - run:
          name: "Install system dependencies"
          command: apk add --update --no-cache --force-overwrite git curl make gmp-dev
      - run:
          name: "Install application dependencies"
          command: |
            cd interpreter
            make ci-install-deps
            make lint
            make test

workflows:
  test:
    jobs:
      - test-interpreter
