[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cr]
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 4

[*.{html,gohtml,erb,ecr}]
indent_style = space
indent_size = 4

[*.{css,scss,sass}]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

[*.rb]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.go]
indent_style = tab

[*.{c,h,cpp,hpp}]
indent_style = tab

[*.bnf]
indent_size = 2
